<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div>
        <table>
            <tr>
                <th>{{localize "mother.weapon.damage"}}</th>
                <th>{{localize "mother.weapon.cqc"}}</th>
                <th>{{localize "mother.weapon.rangeS"}}</th>
                <th>{{localize "mother.weapon.rangeM"}}</th>
                <th>{{localize "mother.weapon.rangeL"}}</th>
                <th>{{localize "mother.weapon.shotCapacity"}}</th>
                <th>{{localize "mother.weapon.shotsLoaded"}}</th>
                <th>{{localize "mother.weapon.ammoRemaining"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="data.damage" type="text" value="{{data.damage}}" data-dtype="String" />
                </td>
                <td>
                    <input name="data.range.cqc" type="checkbox" value="{{checked data.range.cqc}}" data-dtype="Boolean" />
                </td>
                <td>
                    <input name="data.range.short" type="text" value="{{data.range.short}}" data-dtype="String" />
                </td>
                <td>
                    <input name="data.range.medium" type="text" value="{{data.range.medium}}" data-dtype="String" />
                </td>
                <td>
                    <input name="data.range.long" type="text" value="{{data.range.long}}" data-dtype="String" />
                </td>
                <td>
                    <input name="data.shots.capacity" type="text" value="{{data.shots.capacity}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="data.shots.loaded" type="text" value="{{data.shots.loaded}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="data.shots.remainingAmmo" type="text" value="{{data.shots.remainingAmmo}}" data-dtype="Number" />
                </td>
            <tr>
        </table>
        <table>
            <tr>
                <th>{{localize "mother.weapon.critical"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="data.critical" type="text" value="{{data.critical}}" data-dtype="String" />
                </td>
            <tr>
        </table>
        <table>
            <tr>
                <th>{{localize "mother.weapon.special"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="data.special" type="text" value="{{data.special}}" data-dtype="String" />
                </td>
            <tr>
        </table>
        <table>
            <tr>
                <th>{{localize "mother.weapon.ammunition"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="data.ammunition" type="text" value="{{data.ammunition}}" data-dtype="String" />
                </td>
            <tr>
        </table>
    </div>
</form>